table {
  	background: #b7c0d2;
}

#description {
  	background: #b7c0d2;
}

#name {
  text-decoration: none;
  color: SlateGray;
  background: #b7c0d2;
}

#slogan {
  color: White;
  font-size: 20px;
}

div {
  padding: 10px;
}

fieldset{
  text-decoration: none;
  decoration: none;
  border-color: #b7c0d2;
}

a {
  text-decoration: none;
  font-size:
}

h4 {
  color: SlateGray;
  font-size: 30px;
}

th {
  color: SlateGray;
  font-size: 30px;
}

form{
    color: White;
}

input {
  color: #b7c0d2;
}

p{
  color: White;
}

#descrip {
  color: White;
  line-height: 2;
}
